.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
    font-size: 20px;
    min-height: 100vh;
}

.image {
    max-width: 40vw;
    width: 100%;
    object-fit: cover;
    max-height: 100vh;

    @media (max-width: 768px) {
        max-width: 100vw;
        height: unset;
    }
}

.info {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    flex: 1;
}