.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
    font-size: 20px;
    min-height: 100vh;
}

.image {
    max-width: 40vw;
    width: 100%;
    object-fit: contain;
    max-height: 100vh;
    object-position: left center;

    @media (max-width: 768px) {
        max-width: 100vw;
        height: unset;
        object-position: center center;
    }
}

.info {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    flex: 1;
}

.btn {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 30px;
    cursor: pointer;
    width: min-content;
    color: white;
    background: transparent;
    border: none;
    transition: color 0.1s ease-in-out;
}

.btn:hover, .on {
    color: var(--primary);
}